.side-menu-list-item {
      display: block;
      background: #C63D0F;
      color: #fff;
      text-decoration: none;
      -webkit-transition: 0.2s linear;
         -moz-transition: 0.2s linear;
          -ms-transition: 0.2s linear;
           -o-transition: 0.2s linear;
              transition: 0.2s linear;
}

.side-menu-list-item a {
    display: block;
    background: #C63D0F;
    padding: 30px 15px;
    color: #fff;
    text-decoration: none;
}

.side-menu-list-item a:hover {
    background: #5d5c61;
}