.tasks-container {
    margin-left: 18%;
    margin-right: 6%;
    margin-top: 2%;
    padding: 10px;
    display: block;
    background: #5d5c61;
    color: white;
}

.tasks-heading {
    text-align: left;
    margin: 20px;
}