.task {
    width: 90%;
    background: white;
    color: black;
    margin: auto;
    border-radius: 5px;
    padding: 0px 10px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    overflow: hidden;
}

.task-name {
    margin-bottom: auto;
    margin-top: auto;
    width: 50%;
}

.task-priority {
    float: right;
}

.task-description {
    word-wrap: break-word;
}

.task h4 {
    margin-bottom: auto;
}

.task-assignee {
    width: 15%;
    float: left;
}

.task-status {
    width: 15%;
    float: right;
}