.task {
    width: 90%;
    background: white;
    color: black;
    margin: auto;
    border-radius: 5px;
    padding: 0px 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.task-name {
    margin-bottom: auto;
    width: 50%;
}

.task-priority {
    float: right;
}

.task-description {
    word-wrap: break-word;
}