li {
    float: left;
    cursor: pointer;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #4A96AD;
}

.active {
    background-color: #4A96AD;
}