.list-item {
    float: left;
    cursor: pointer;
}

.list-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.list-item:hover:not(.active) {
    background-color: #5d5c61;
}

.active {
    background-color: #5d5c61;
}